.navegacion{
    position: relative;
    top: 286px;
    width: 100%;
    height: 45px;
    background: rgba(33, 84, 105, 0.99);
    align-content: center;
    margin-left: 10px;
}
.navtext{
    position: relative;
    padding-left: 200px;
}
.navtext a{
    color: white;
    text-decoration: none;
    align-content: center;
    font-family: 'Poppins', sans-serif;
    padding: 9px;
}
